apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: nginx-argocd-application
  name: transcription-service
  namespace: app
spec:
  selector:
    app: transcription
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 50051
  type: LoadBalancer